.mainPage{
  width: 100%;
  
}
.mainContainer{
  display: flex;
  justify-content: space-evenly;
}

.mainMessage p{ 
  width: 400px;
  font-size: 50px;
  color: #FFFD24;
  text-transform: uppercase;  
}
.mainMessage p span{
  color: #F0F2F2;
}
.leftIcon img{
  margin-top: 180px;
  width: 250px;
  
}
.leftIcon img:hover{
  
}
.rightIcon img{
  margin-top: 20px;
  width: 250px;
}
.rightIcon img:hover{
  
}