.modalBackground{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.meetingModal{
  background-color: #F0F2F2;
  position: absolute;
  border-radius: 10px;
  width: 400px;
  height: 200px;
}
