.tabBody {
  color: white;
  display: flex;

  align-items: center;
  margin: 0;
  padding: 8px 12px;
  list-style: none;
  text-align: center;
}
.ulpanel {
  list-style: none;
}

.tabsCss {
  display: flex;

  align-items: center;
  margin: 3px 40%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
