.test {
  background-color: white;
  margin: 3px 40%;
  align-items: center;
  padding-left: 60px;

  align-items: center;
}

.tabsCss {
  font-size: xx-large;
}

@media screen and (max-width: 1370px) {
  .test {
    margin: 3px 35%;
  }
}

@media screen and (max-width: 1000px) {
  .test {
    margin: 3px 30%;
  }
}
@media screen and (max-width: 900px) {
  .test {
    margin: 0;
  }
}
