.tabBody {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 8px 12px;
  list-style: none;
  text-align: center;
  list-style: none;
}
.ulpanel {
  list-style: none;
  text-align: center;
}

.tabsCss {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 30px 30%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
