.navbar{
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid #F0F2F2;
  border-width: 10%;
}
.logoAndMainLinks{
  display: flex;
  align-items: center;
}
.logo{
  padding: 0.5rem;
}
.logo img{
  width: 150px;
}
.mainLinks{
  display: flex;
}
.navbarLink{
  padding: 2rem;
}
.signInLinks{
  display: flex; 
}
.dropDownMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
}
.dropDownMenu div {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 5.7rem;
  left: 75%;
}
.dropDownMenu a {
  padding: 0.8rem 2rem;
}
.lightDrop {
  background-color: #F0F2F2;
  border: 1.5px solid #2B3135;
}
.darkDrop {
  background-color: #2B3135;
  border: 1.5px solid #F0F2F2;
}
.navbarSmallscreen{
  display: none;
}
.navbarSmallscreenToggle{
  position: fixed;
  padding: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  background: black;
  transition: 0.8s ease;
  z-index: 6;
}
.navbarSmallscreenLinks{
  list-style: none;
}
.navbarSmallscreenLinks a{
  margin: 4rem;
  color: #F0F2F2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navbarSmallscreenLinks a:hover{
  color: #FFFD24;
}
  
@media screen and (max-width: 806px){
  .navbar{
    justify-content: space-between;
  }
  .logo{
    margin-left: 2rem;
  }
  .mainLinks{
    display: none;
  }
  .signInLinks{
    display: none;
  } 
  .navbarSmallscreen{
    display: flex;
    margin-right: 2rem;
    cursor: pointer;
    z-index: 20;
  }
  .navHamburger{
    font-size: 40px;
    color: #F0F2F2;
  }
}
