.workingContainer{
  margin: 0 8%;
}
.workingTitle{
  text-align: center;
  color: #F0F2F2;
  font-size: 50px;
  padding: 1rem;
}
.toGithub{
  color: #F0F2F2;
  font-size: 33px;
}
.calendarContainer{
  width: 100%;
}
.noWorking{
  margin: 30vh 0;
  text-align: center;
  font-size: 50px;
  color: #F0F2F2;
}

@media screen and (max-width: 1400px){
  .workingContainer{
    margin-left: 3%;
    margin-right: 3%;
  }
}
