*{
    color: white;
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}

.containerBody{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
   height: 100vh
}