*{
    color:aliceblue;
}

.myAccountContainer{
display:flex;
justify-content: center;
align-items: center;
height: 70vh;
}

.title{
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;  
}

.myAccountPhotoAdd{
    /* margin: 18% 10% 50% 70%; */
   
    background-color: white;
    border-radius: 20px;
    width: 30vh;
    height: 30vh;
    margin:auto;    
}

.myAccountImage{
    display: inline-block;
   width: 15vw;
    margin-left: 80px;
    /* border:1rem solid red; */
    margin-top: 2vh;
}

.myAccountInfoGroup{
    font-size: 20px;
}

.myAccountInfoGroup label{
    width: 8vw;
}

/* .myAccountInfoGroup > input{
    margin-top: 8px;
}
.myAcountPassword{
    margin-top: 8px;
} */
.myAccountbutton{
    margin-top: 25px;
    width: 80px;
    height: 50px;
    margin-left: 80%;
    background-color: #2B3135;
    color: white;
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.myAccountbutton:hover {
    color:#FFFD24;
    
}

@media screen and (max-width: 1470px){
   
    .myAccountInfoGroup label{
        width: 10vw;
    }
}

@media screen and (max-width: 1074px){
    .myAccountContainer{
        display: grid;
        height: 100vh;
    }

    .myAccountPhoto{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .title{
        font-size: 2.5rem;
    }

    .myAccountInfoGroup> label{
        width:15vw;
        font-size: 1.2rem;
    }

    .myAccountImage{
        margin-left: 120px;
    }

    .myAccountbutton{
        width: 70px;
        height: 40px;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 684px){
    .myAccountImage{
        margin-left: 60px;
    }
    
    .myAccountInfoGroup> label{
        display: block;
        margin: 5px 0 0 0;
    }
    .myAccountInfoGroup > input{
        padding-top: -20px;
    }

    .myAccountContainer{
        height: 100%;
    }
    .myAccountbutton{
        margin-bottom: 20px;
    }
}