.EmojiContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Emoji{
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
  width: 180px;
  height: 180px;
  align-items: center;
  font-size: 140px;
}
