.chattingContainer{
  width: 100%;
  height: 650px;
  margin-left: 2%;
  margin-bottom: 5%;
}
.chat-body{
  height: 570px;
  overflow-y: scroll;
}
.chat-footer form{
  /* init css */
  display: initial;
  justify-content: initial;
  align-items: initial;
  flex-direction: initial;
}
.inputChat{
  margin-left: 1%;
  width: 86%;
  height: 47px;
  border-radius: 0.5rem;
}
.chatBtn{
  width: 10%;
  height: 45px;
  margin-left: 3%;
  background-color: #F0F2F2;
  border: 1px solid #2B3135;
  border-radius: 7px;
}
.chatBtn:hover{
  background-color: #2B3135;
  border-color: #F0F2F2;
  color: #F0F2F2;
}

@media screen and (max-width: 992px){
  .chattingContainer{
    margin-top: 20px;
    margin-left: 0;
  }
}
