.navbar{
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid #F0F2F2;
  border-width: 10%;
}
.logo{
  padding: 0.5rem;
}
.logo img{
  width: 150px;
}

.navbarLinks{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbarLink a{
  color: #F0F2F2;
  text-decoration: none;
  
}
.navbarLink{
  padding: 2rem;
}

.logoAndMainLinks{
  display: flex;
  align-items: center;
}


.mainLinks{
  display: flex;

}
.signInLinks{
  display: flex;
  
} 
.navbarSmallscreen{
  display: none;
}
  
@media screen and (max-width: 750px){
  .mainLinks{
    display: none;
  }
  .signInLinks{
    display: none;
  } 
  .navbarSmallscreen{
    display: flex;
    margin-right: 2rem;
  }
  .navHamburger{
    font-size: 40px;
    color: #F0F2F2;
  }
  .navbar{
    justify-content: space-between;
  }
  .logo{
    margin-left: 2rem;
  }
}