.navbar{
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid white;
  border-width: 10%;
}
.logo{
  padding: 0.5rem;
}

.navbarLinks{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbarLink a{
  color: white;
  text-decoration: none;
  
}
.navbarLink{
  padding: 2rem;
}
.logoAndMainLinks{
  display: flex;
  align-items: center;
}

.mainLinks{
  display: flex;

}
.signInLinks{
  display: flex;
}