.ProjectsContainer{
  background-color: #aaaaaa;
  margin-top: 5px;
  width: auto;
  text-align: center;
  min-height: calc(100vh - 124px - 149px);
}
.ProjectsTitle{
  color: black;
  font-size: 60px;
}
