/* .project{
  display: flex;
  min-height: 60vh;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-left: 1rem;
} */

.projectItem{
  padding: 0.5rem;
  margin: 30px;

  border-radius: 30px;
  background-color: #2B3135;
  min-width: 450px;
  z-index: 5;
}
.projectItem img{
  margin-left: 20px;
}
.projectInfo li{
  color: #F0F2F2;
  font-size: 20px;
  list-style: none;
  text-align: left;
  margin-right: 20px;
  padding: 10px;
  
}
.projectLink{
  cursor: pointer;
}
.projectLink:hover{
  font-size: 20px;
  color: yellow;
  font-weight: 700;
}
.noProject{
  padding: 2rem;
  font-size: 50px;

}

