.project{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 60vh;
}
.projectItem{

  padding: 1rem;
  margin: 40px;
  text-align: left;
  border-radius: 30px;
  background-color: #2B3135;
}
.projectItem img{
  margin-left: 20px;
}
.projectInfo li{
  color: #F0F2F2;
  font-size: 20px;
  list-style: none;
  text-align: left;
  margin-right: 20px;
  padding: 10px;
}
.noProject{
  padding: 2rem;
  font-size: 50px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper{
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #F0F2F2;
    background-color: rgba(255, 255, 255, 0.5);
    right:30px;
    padding: 25px;
    color: #000 !important;
    fill: rgb(29, 9, 9) !important;
    stroke: black !important;
}