.projectsContainer{
  position: relative;
  background-color: #aaaaaa;
  margin-top: 5px;
  min-height: calc(100vh - 120px - 105px);
  overflow: hidden;
}
.projectsTitle{
  color: black;
  font-size: 60px;
  display: flex;
  justify-content: center;
}

.addProject{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.preBtnProject, .nextBtnProject{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 50px;
  position: absolute;
top: 55%;
  cursor: pointer;
  z-index: 10;
}
.nextBtnProject{
  right: 0;
}
.preBtnProject:hover{
  color: #F0F2F2;
  background-color: #2B3135;
  border: 1px solid #F0F2F2;
}

.nextBtnProject:hover{
  color: #F0F2F2;
  background-color: #2B3135;
  border: 1px solid #F0F2F2;
}
.sliderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  z-index: 5;
}


.addProjectBtn{
  width:150px;
height:40px;
border:none;
border-radius: 50px;
background-color:#2B3135;
color:#F0F2F2;
font-weight: 600;
margin:10px 0;
}

.addProjectBtn:hover{
  color: #2B3135;
  background-color: #F0F2F2;
}